.research-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.titleDesc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
}

.titleDesc-container * {
    border: none;
    box-shadow: none;
    background: transparent;
}

.research-description {
    text-align: center;
}

.research-project {
    margin-bottom: 20px;
}

.research-project-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.research-project-details {
    font-size: 1rem;
    line-height: 1.5;
}
