header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;
    border-bottom: 0.01em solid black;
    overflow-x: auto;

    .left {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .links {
        display: flex;
        gap: 1em;
    }

    .links a {
        color: black;
        text-decoration: none;
    }

    .links a:hover {
        color: #f1356d;
        text-decoration: underline;
    }

    .left img {
        width: 50px;
    }
}
