.icon-desc-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.learn-container {
    width: 75%; /* Adjust the percentage as needed */
    margin: 0 auto; /* Center the container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
/* Media query for mobile devices */
@media (max-width: 768px) {
    .learn-container {
        width: 100%; /* Width for mobile */
    }
}

.learn-title {
    align-self: center;
}

.learn-container a {
    color: #212529;
    text-decoration: underline;
}

.learn-container a:hover {
    color: #212529;
    text-decoration: none;
}
