/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./node_modules/@payloadcms/richtext-lexical/dist/field/lexical/theme/EditorTheme.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.LexicalEditorTheme__ltr {
  text-align: left;
}
.LexicalEditorTheme__rtl {
  text-align: right;
}
.LexicalEditorTheme__paragraph {
  margin: 0 0 1.5em;
  position: relative;
}
.LexicalEditorTheme__quote {
  margin: 0 0 10px 20px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}
.LexicalEditorTheme__h1 {
  font-size: 2.8rem;
  line-height: 1.125;
  color: rgb(5, 5, 5);
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.LexicalEditorTheme__h2 {
  font-size: 2rem;
  color: rgb(5, 5, 5);
  font-weight: 700;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
}
.LexicalEditorTheme__h3 {
  font-size: 1.4rem;
  color: rgb(101, 103, 107);
  font-weight: 700;
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}
.LexicalEditorTheme__indent {
  --lexical-indent-base-value: 40px;
}
.LexicalEditorTheme__textBold {
  font-weight: bold;
}
.LexicalEditorTheme__textItalic {
  font-style: italic;
}
.LexicalEditorTheme__textUnderline {
  text-decoration: underline;
}
.LexicalEditorTheme__textStrikethrough {
  text-decoration: line-through;
}
.LexicalEditorTheme__textUnderlineStrikethrough {
  text-decoration: underline line-through;
}
.LexicalEditorTheme__textSubscript {
  font-size: 0.8em;
  vertical-align: sub !important;
}
.LexicalEditorTheme__textSuperscript {
  font-size: 0.8em;
  vertical-align: super;
}
.LexicalEditorTheme__textCode {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}
.LexicalEditorTheme__hashtag {
  background-color: rgba(88, 144, 255, 0.15);
  border-bottom: 1px solid rgba(88, 144, 255, 0.3);
}
.ContentEditable__root .LexicalEditorTheme__link {
  pointer-events: none;
}
.LexicalEditorTheme__link {
  color: var(--color-blue-600);
  text-decoration: none;
  border-bottom: 1px dotted;
}
.LexicalEditorTheme__code {
  /*background-color: rgb(240, 242, 245);*/
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 8px 0;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  /* white-space: pre; */
  overflow-x: auto;
  position: relative;
}
.LexicalEditorTheme__code:before {
  content: attr(data-gutter);
  position: absolute;
  /*background-color: #eee;*/
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}
.LexicalEditorTheme__table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  overflow-y: scroll;
  table-layout: fixed;
  width: calc(100% - 25px);
  margin: 30px 0;
}
.LexicalEditorTheme__tableSelected {
  outline: 2px solid rgb(60, 132, 244);
}
.LexicalEditorTheme__tableCell {
  border: 1px solid #bbb;
  min-width: 75px;
  vertical-align: top;
  text-align: start;
  padding: 6px 8px;
  position: relative;
  cursor: default;
  outline: none;
}
.LexicalEditorTheme__tableCellSortedIndicator {
  display: block;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #999;
}
.LexicalEditorTheme__tableCellResizer {
  position: absolute;
  right: -4px;
  height: 100%;
  width: 8px;
  cursor: ew-resize;
  z-index: 10;
  top: 0;
}
.LexicalEditorTheme__tableCellHeader {
  background-color: #f2f3f5;
  text-align: start;
}
.LexicalEditorTheme__tableCellSelected {
  background-color: #c9dbf0;
}
.LexicalEditorTheme__tableCellPrimarySelected {
  border: 2px solid rgb(60, 132, 244);
  display: block;
  height: calc(100% - 2px);
  position: absolute;
  width: calc(100% - 2px);
  left: -1px;
  top: -1px;
  z-index: 2;
}
.LexicalEditorTheme__tableCellEditing {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}
.LexicalEditorTheme__tableAddColumns {
  position: absolute;
  top: 0;
  width: 20px;
  background-color: #eee;
  height: 100%;
  right: 0;
  animation: table-controls 0.2s ease;
  border: 0;
  cursor: pointer;
}
.LexicalEditorTheme__tableAddColumns:hover {
  background-color: #c9dbf0;
}
.LexicalEditorTheme__tableAddRows {
  position: absolute;
  bottom: -25px;
  width: calc(100% - 25px);
  background-color: #eee;
  height: 20px;
  left: 0;
  animation: table-controls 0.2s ease;
  border: 0;
  cursor: pointer;
}
.LexicalEditorTheme__tableAddRows:hover {
  background-color: #c9dbf0;
}
@keyframes table-controls {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.LexicalEditorTheme__tableCellResizeRuler {
  display: block;
  position: absolute;
  width: 1px;
  background-color: rgb(60, 132, 244);
  height: 100%;
  top: 0;
}
.LexicalEditorTheme__tableCellActionButtonContainer {
  display: block;
  right: 5px;
  top: 6px;
  position: absolute;
  z-index: 4;
  width: 20px;
  height: 20px;
}
.LexicalEditorTheme__tableCellActionButton {
  background-color: #eee;
  display: block;
  border: 0;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  color: #222;
  cursor: pointer;
}
.LexicalEditorTheme__tableCellActionButton:hover {
  background-color: #ddd;
}
.LexicalEditorTheme__characterLimit {
  display: inline;
  background-color: #ffbbbb !important;
}
.LexicalEditorTheme__ol1 {
  padding: 0;
  list-style-position: outside;
  margin: 0 0 1.5em;
}
.LexicalEditorTheme__ol2 {
  padding: 0;
  margin: 0;
  list-style-type: upper-alpha;
  list-style-position: outside;
}
.LexicalEditorTheme__ol3 {
  padding: 0;
  margin: 0;
  list-style-type: lower-alpha;
  list-style-position: outside;
}
.LexicalEditorTheme__ol4 {
  padding: 0;
  margin: 0;
  list-style-type: upper-roman;
  list-style-position: outside;
}
.LexicalEditorTheme__ol5 {
  padding: 0;
  margin: 0;
  list-style-type: lower-roman;
  list-style-position: outside;
}
.LexicalEditorTheme__ul {
  padding: 0;
  margin: 0 0 1.5em;
  list-style-position: outside;
}
.LexicalEditorTheme__ul ul {
  margin: 0;
}
.LexicalEditorTheme__listItem {
  margin: 0 0 0.4em 16px;
}
.LexicalEditorTheme__listItemChecked, .LexicalEditorTheme__listItemUnchecked {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 24px;
  padding-right: 24px;
  list-style-type: none;
  outline: none;
}
.LexicalEditorTheme__listItemChecked {
  text-decoration: line-through;
}
.LexicalEditorTheme__listItemUnchecked:before, .LexicalEditorTheme__listItemChecked:before {
  content: "";
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  cursor: pointer;
  display: block;
  background-size: cover;
  position: absolute;
}
.LexicalEditorTheme__listItemUnchecked[dir=rtl]:before, .LexicalEditorTheme__listItemChecked[dir=rtl]:before {
  left: auto;
  right: 0;
}
.LexicalEditorTheme__listItemUnchecked:focus:before, .LexicalEditorTheme__listItemChecked:focus:before {
  box-shadow: 0 0 0 2px #a6cdfe;
  border-radius: 2px;
}
.LexicalEditorTheme__listItemUnchecked:before {
  border: 1px solid #999;
  border-radius: 2px;
}
.LexicalEditorTheme__listItemChecked:before {
  border: 1px solid rgb(61, 135, 245);
  border-radius: 2px;
  background-color: #3d87f5;
  background-repeat: no-repeat;
}
.LexicalEditorTheme__listItemChecked:after {
  content: "";
  cursor: pointer;
  border-color: #fff;
  border-style: solid;
  position: absolute;
  display: block;
  top: 6px;
  width: 3px;
  left: 7px;
  right: 7px;
  height: 6px;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
}
.LexicalEditorTheme__nestedListItem {
  list-style-type: none;
}
.LexicalEditorTheme__nestedListItem:before, .LexicalEditorTheme__nestedListItem:after {
  display: none;
}
.LexicalEditorTheme__tokenComment {
  color: slategray;
}
.LexicalEditorTheme__tokenPunctuation {
  color: #999;
}
.LexicalEditorTheme__tokenProperty {
  color: #905;
}
.LexicalEditorTheme__tokenSelector {
  color: #690;
}
.LexicalEditorTheme__tokenOperator {
  color: #9a6e3a;
}
.LexicalEditorTheme__tokenAttr {
  color: #07a;
}
.LexicalEditorTheme__tokenVariable {
  color: #e90;
}
.LexicalEditorTheme__tokenFunction {
  color: #dd4a68;
}
.LexicalEditorTheme__mark {
  background: rgba(255, 212, 0, 0.14);
  border-bottom: 2px solid rgba(255, 212, 0, 0.3);
  padding-bottom: 2px;
}
.LexicalEditorTheme__markOverlap {
  background: rgba(255, 212, 0, 0.3);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}
.LexicalEditorTheme__mark.selected {
  background: rgba(255, 212, 0, 0.5);
  border-bottom: 2px solid rgb(255, 212, 0);
}
.LexicalEditorTheme__markOverlap.selected {
  background: rgba(255, 212, 0, 0.7);
  border-bottom: 2px solid rgba(255, 212, 0, 0.7);
}
.LexicalEditorTheme__embedBlock {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.LexicalEditorTheme__embedBlockFocus {
  outline: 2px solid rgb(60, 132, 244);
}

html[data-theme=dark] .LexicalEditorTheme__h1, html[data-theme=dark] .LexicalEditorTheme__h2 {
  color: rgb(255, 255, 255);
}
html[data-theme=dark] .LexicalEditorTheme__h3 {
  color: rgb(148, 151, 157);
}
html[data-theme=dark] .LexicalEditorTheme__link {
  color: var(--color-blue-600);
}
html[data-theme=dark] .LexicalEditorTheme__tableCellHeader {
  background-color: var(--theme-elevation-50);
}
html[data-theme=dark] .LexicalEditorTheme__quote {
  color: rgb(193, 198, 206);
  border-left-color: var(--theme-elevation-150);
}
html[data-theme=dark] .LexicalEditorTheme__textCode {
  background-color: rgb(0, 0, 0);
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./node_modules/@payloadcms/richtext-lexical/dist/field/features/blocks/component/index.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.lexical-block__header-action {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  color: currentColor;
}

.ContentEditable__root > div:has(.lexical-block) {
  z-index: 1;
}

.lexical-block {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);
  font-family: var(--font-body);
  margin: 0 0 1.5em;
}
.lexical-block__header h3 {
  margin: 0;
}
.lexical-block__header-wrap {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
}
.lexical-block__heading-with-error {
  display: flex;
  align-items: center;
  gap: calc(var(--base) * 0.5);
}
.lexical-block--has-no-error > .array-field__header .array-field__heading-with-error {
  color: var(--theme-text);
}
.lexical-block--has-error > .array-field__header {
  color: var(--theme-error-500);
}
.lexical-block__error-pill {
  align-self: center;
}
.lexical-block__header-actions {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.lexical-block__header-action {
  cursor: pointer;
  margin-left: calc(var(--base) * 0.5);
}
.lexical-block__header-action:hover, .lexical-block__header-action:focus-visible {
  text-decoration: underline;
}
.lexical-block .collapsible__header-wrap {
  right: calc(var(--base) * 1.5);
}
.lexical-block__removeButton.btn {
  margin: 0;
}
.lexical-block__block-header {
  pointer-events: none;
}
.lexical-block__block-header * {
  pointer-events: all;
}
.lexical-block__block-header, .lexical-block__block-header > div {
  display: flex;
  max-width: 100%;
  overflow: hidden;
  gap: calc(var(--base) * 0.375);
  justify-content: space-between;
}
.lexical-block__block-number {
  flex-shrink: 0;
}
.lexical-block__block-pill {
  flex-shrink: 0;
  display: block;
  line-height: unset;
}
.lexical-block__error-wrap {
  position: relative;
}
.lexical-block__rows {
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 2);
}
.lexical-block__drawer-toggler {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  align-self: flex-start;
}
.lexical-block__drawer-toggler .btn {
  color: var(--theme-elevation-400);
  margin: 0;
}
.lexical-block__drawer-toggler .btn:hover {
  color: var(--theme-elevation-800);
}

html[data-theme=light] .blocks-field--has-error .section-title__input,
html[data-theme=light] .blocks-field--has-error .blocks-field__heading-with-error {
  color: var(--theme-error-750);
}

html[data-theme=dark] .blocks-field--has-error .section-title__input,
html[data-theme=dark] .blocks-field--has-error .blocks-field__heading-with-error {
  color: var(--theme-error-500);
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./node_modules/@payloadcms/richtext-lexical/dist/field/features/debug/testRecorder/plugin/index.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.test-recorder-output {
  margin: 20px auto 20px auto;
  width: 100%;
}

.test-recorder-toolbar {
  display: flex;
}

.test-recorder-button {
  position: relative;
  display: block;
  font-size: 10px;
  padding: 6px 6px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  background-color: #222;
  color: white;
  transition: box-shadow 50ms ease-out;
}

.test-recorder-button:active {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

.test-recorder-button + .test-recorder-button {
  margin-left: 4px;
}

.test-recorder-button::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  display: block;
  background-size: contain;
  filter: invert(1);
}

#test-recorder-button {
  position: relative;
}

#test-recorder-button-snapshot {
  margin-right: auto;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./node_modules/@payloadcms/richtext-lexical/dist/field/features/debug/treeView/plugin/index.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.tree-view-output {
  display: block;
  background: #222;
  color: #fff;
  padding: 0;
  font-size: 12px;
  margin: 1px auto 10px auto;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tree-view-output pre {
  line-height: 1.1;
  background: #222;
  color: #fff;
  margin: 0;
  padding: 10px;
  font-size: 12px;
  overflow: auto;
  max-height: 400px;
}
.tree-view-output .debug-treetype-button {
  border: 0;
  padding: 0;
  font-size: 12px;
  top: 10px;
  right: 85px;
  position: absolute;
  background: none;
  color: #fff;
}
.tree-view-output .debug-treetype-button:hover {
  text-decoration: underline;
}
.tree-view-output .debug-timetravel-button {
  border: 0;
  padding: 0;
  font-size: 12px;
  top: 10px;
  right: 15px;
  position: absolute;
  background: none;
  color: #fff;
}
.tree-view-output .debug-timetravel-button:hover {
  text-decoration: underline;
}
.tree-view-output .debug-timetravel-panel {
  overflow: hidden;
  padding: 0 0 10px;
  margin: auto;
  display: flex;
}
.tree-view-output .debug-timetravel-panel-button {
  padding: 0;
  border: 0;
  background: none;
  flex: 1;
  color: #fff;
  font-size: 12px;
}
.tree-view-output .debug-timetravel-panel-button:hover {
  text-decoration: underline;
}
.tree-view-output .debug-timetravel-panel-slider {
  padding: 0;
  flex: 8;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./node_modules/@payloadcms/richtext-lexical/dist/field/features/horizontalRule/plugin/index.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
hr {
  padding: 2px 2px;
  border: none;
  margin: 1rem 0;
  cursor: pointer;
}

hr:after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--theme-elevation-250);
}

hr.selected {
  outline: 2px solid var(--theme-success-500);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./node_modules/@payloadcms/richtext-lexical/dist/field/features/link/drawer/index.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.lexical-link-edit-drawer__template {
  position: relative;
  z-index: 1;
  padding-top: var(--base);
  padding-bottom: calc(var(--base) * 2);
}
.lexical-link-edit-drawer__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--base) * 2.5);
  margin-bottom: var(--base);
}
@media (max-width: 1024px) {
  .lexical-link-edit-drawer__header {
    margin-top: calc(var(--base) * 1.5);
  }
}
.lexical-link-edit-drawer__header-text {
  margin: 0;
}
.lexical-link-edit-drawer__header-close {
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  width: var(--base);
  height: var(--base);
}
.lexical-link-edit-drawer__header-close svg {
  width: calc(var(--base) * 2.75);
  height: calc(var(--base) * 2.75);
  position: relative;
  left: calc(var(--base) * -0.825);
  top: calc(var(--base) * -0.825);
}
.lexical-link-edit-drawer__header-close svg .stroke {
  stroke-width: 2px;
  vector-effect: non-scaling-stroke;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./node_modules/@payloadcms/richtext-lexical/dist/field/features/link/plugins/floatingLinkEditor/index.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
html[data-theme=light] .link-editor {
  box-shadow: 0 0 30px 0 rgba(0, 2, 4, 0.12), 0 30px 25px -8px rgba(0, 2, 4, 0.1);
}

.link-editor {
  z-index: 1;
  display: flex;
  align-items: center;
  background: var(--color-base-0);
  padding: 0 3.72px 0 6.25px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 6.25px;
  transition: opacity 0.2s;
  height: 37.5px;
  will-change: transform;
}
.link-editor .link-input {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 28px;
  box-sizing: border-box;
  padding: 2px 4px;
  font-size: 15px;
  border: 0;
  outline: 0;
  position: relative;
  font-family: var(--font-body);
}
.link-editor .link-input__label-pure {
  color: var(--color-base-1000);
  margin-right: 15px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
.link-editor .link-input a {
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 15px;
  text-overflow: ellipsis;
  color: var(--color-blue-600);
  border-bottom: 1px dotted;
}
.link-editor .link-input a:hover {
  color: var(--color-blue-400);
}
.link-editor button {
  all: unset;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: var(--color-base-600);
  border-radius: 4px;
}
.link-editor button:hover:not([disabled]) {
  background-color: var(--color-base-100);
}
.link-editor .link-edit {
  background-image: url(/_next/static/media/index.982d363e.svg);
}
.link-editor .link-trash {
  background-image: url(/_next/static/media/index.da5eed75.svg);
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./node_modules/@payloadcms/richtext-lexical/dist/field/features/migrations/lexicalPluginToLexical/nodes/unknownConvertedNode/index.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
span.unknownConverted {
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 2px;
  font-size: calc(var(--base) * 0.5);
  margin: 0 0 var(--base);
  background: red;
  color: white;
  display: inline-block;
}
span.unknownConverted div {
  background: red;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./node_modules/@payloadcms/richtext-lexical/dist/field/features/migrations/slateToLexical/nodes/unknownConvertedNode/index.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
span.unknownConverted {
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 2px;
  font-size: calc(var(--base) * 0.5);
  margin: 0 0 var(--base);
  background: red;
  color: white;
  display: inline-block;
}
span.unknownConverted div {
  background: red;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./node_modules/@payloadcms/richtext-lexical/dist/field/features/relationship/nodes/components/index.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.lexical-relationship {
  font-size: 13px;
  line-height: 25px;
  font-weight: normal;
  box-shadow: 0 2px 3px 0 rgba(0, 2, 4, 0.05), 0 10px 4px -8px rgba(0, 2, 4, 0.02);
  padding: calc(var(--base) * 0.75);
  display: flex;
  align-items: center;
  background: var(--theme-input-bg);
  border: 1px solid var(--theme-elevation-100);
  max-width: calc(var(--base) * 15);
  font-family: var(--font-body);
  margin: 0 0 1.5em;
}
.lexical-relationship:hover {
  border: 1px solid var(--theme-elevation-150);
}
.lexical-relationship[data-slate-node=element] {
  margin: calc(var(--base) * 0.625) 0;
}
.lexical-relationship__label {
  margin-bottom: calc(var(--base) * 0.25);
}
.lexical-relationship__title {
  margin: 0;
}
.lexical-relationship__label, .lexical-relationship__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1 !important;
}
.lexical-relationship__title {
  font-weight: bold;
}
.lexical-relationship__wrap {
  flex-grow: 1;
  overflow: hidden;
}
.lexical-relationship--selected {
  box-shadow: 0 0 0 2px var(--theme-success-500);
  outline: none;
}
.lexical-relationship__doc-drawer-toggler {
  text-decoration: underline;
  pointer-events: all;
  line-height: inherit;
}
.lexical-relationship__doc-drawer-toggler > * {
  margin: 0;
}
.lexical-relationship__swapButton.btn {
  margin: 0;
}
.lexical-relationship__doc-drawer-toggler:disabled, .lexical-relationship__swapButton:disabled {
  color: var(--theme-elevation-300);
  pointer-events: none;
}
.lexical-relationship__actions {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: calc(var(--base) * 0.5);
}
.lexical-relationship__actions > *:not(:last-child) {
  margin-right: calc(var(--base) * 0.25);
}
.lexical-relationship__removeButton.btn {
  margin: 0;
}
.lexical-relationship__removeButton.btn line {
  stroke-width: 2px;
}
.lexical-relationship__removeButton.btn:disabled {
  color: var(--theme-elevation-300);
  pointer-events: none;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./node_modules/@payloadcms/richtext-lexical/dist/field/features/toolbars/shared/ToolbarButton/index.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.toolbar-popup__button {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  height: 30px;
  width: 30px;
  border: 0;
  background: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
}
.toolbar-popup__button.spaced {
  margin-right: 2px;
}
.toolbar-popup__button.active {
  background-color: var(--color-base-100);
}
.toolbar-popup__button.active .icon {
  opacity: 1;
}
.toolbar-popup__button.disabled {
  cursor: not-allowed;
}
.toolbar-popup__button.disabled .icon {
  opacity: 0.2;
}
.toolbar-popup__button:hover:not([disabled]) {
  background-color: var(--color-base-100);
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./node_modules/@payloadcms/richtext-lexical/dist/field/features/toolbars/shared/ToolbarDropdown/index.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.toolbar-popup__dropdown {
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  height: 30px;
  border: 0;
  background: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  padding: 0 10px;
}
.toolbar-popup__dropdown-label {
  color: var(--color-base-600);
  padding: 0 10px;
}
.toolbar-popup__dropdown:disabled {
  cursor: not-allowed;
}
.toolbar-popup__dropdown:disabled .icon {
  opacity: 0.2;
}
.toolbar-popup__dropdown:hover:not([disabled]) {
  background-color: var(--color-base-100);
}
.toolbar-popup__dropdown .active {
  background-color: var(--color-base-100);
}
.toolbar-popup__dropdown .active .toolbar-popup__dropdown-caret:after {
  transform: rotate(0deg);
}
.toolbar-popup__dropdown-caret:after {
  transform: rotate(180deg);
  content: " ";
  position: absolute;
  top: 13px;
  /* Vector 3 */
  width: 7px;
  height: 4px;
  opacity: 0.3;
  background-image: url(/_next/static/media/index.adb15e43.svg);
  background-position-y: 0;
  background-position-x: 0;
}
.toolbar-popup__dropdown-items {
  position: absolute;
  background: var(--color-base-0);
  border-radius: 4px;
  min-width: 132.5px;
  max-width: 200px;
  z-index: 100;
}
.toolbar-popup__dropdown-items .toolbar-popup__dropdown-item {
  all: unset;
  cursor: pointer;
  color: var(--color-base-900);
  padding-left: 6.25px;
  padding-right: 6.25px;
  width: 100%;
  height: 30px;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 6.25px;
}
.toolbar-popup__dropdown-items .toolbar-popup__dropdown-item .text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.toolbar-popup__dropdown-items .toolbar-popup__dropdown-item:hover:not([disabled]), .toolbar-popup__dropdown-items .toolbar-popup__dropdown-item.active {
  background-color: var(--color-base-100);
}
.toolbar-popup__dropdown-items .toolbar-popup__dropdown-item .icon {
  min-width: 20px;
  height: 20px;
  color: var(--color-base-600);
}

html[data-theme=light] .toolbar-popup__dropdown-items {
  position: absolute;
  box-shadow: 0 0 30px 0 rgba(0, 2, 4, 0.12), 0 30px 25px -8px rgba(0, 2, 4, 0.1);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./node_modules/@payloadcms/richtext-lexical/dist/field/features/toolbars/fixed/Toolbar/index.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
html[data-theme=dark] .fixed-toolbar__dropdown-items {
  background: var(--theme-elevation-0);
}
html[data-theme=dark] .fixed-toolbar__dropdown-items .toolbar-popup__dropdown-item {
  color: var(--theme-elevation-900);
}
html[data-theme=dark] .fixed-toolbar__dropdown-items .toolbar-popup__dropdown-item:hover:not([disabled]), html[data-theme=dark] .fixed-toolbar__dropdown-items .toolbar-popup__dropdown-item.active {
  background-color: var(--theme-elevation-100);
}
html[data-theme=dark] .fixed-toolbar__dropdown-items .toolbar-popup__dropdown-item .icon {
  color: var(--theme-elevation-600);
}
html[data-theme=dark] .fixed-toolbar .toolbar-popup__button.active, html[data-theme=dark] .fixed-toolbar .toolbar-popup__button:hover:not([disabled]) {
  background-color: var(--theme-elevation-100);
}
html[data-theme=dark] .fixed-toolbar .toolbar-popup__dropdown:hover:not([disabled]) {
  background-color: var(--theme-elevation-100);
}
html[data-theme=dark] .fixed-toolbar .toolbar-popup__dropdown-caret:after {
  filter: invert(1);
}
html[data-theme=dark] .fixed-toolbar .toolbar-popup__dropdown-label {
  color: var(--theme-elevation-750);
}

.fixed-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: calc(var(--base) / 4);
  vertical-align: middle;
  position: sticky;
  z-index: 2;
  top: var(--doc-controls-height);
  border: 1px solid var(--theme-elevation-150);
  transform: translateY(1px);
}
.fixed-toolbar:before, .fixed-toolbar:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.fixed-toolbar:before {
  background: var(--theme-elevation-0);
  opacity: 0.75;
}
.fixed-toolbar:after {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.fixed-toolbar__group {
  display: flex;
  align-items: center;
  gap: 2px;
  z-index: 1;
}
.fixed-toolbar__group .icon {
  min-width: 20px;
  height: 20px;
  color: var(--theme-elevation-600);
}
.fixed-toolbar__group .divider {
  width: 1px;
  height: 15px;
  background-color: var(--color-base-100);
  margin: 0 6.25px;
}
.fixed-toolbar .toolbar-popup__dropdown, .fixed-toolbar .toolbar-popup__button {
  border-radius: 0;
}
.fixed-toolbar + .editor-container > .editor-scroller > .editor > .ContentEditable__root {
  padding-top: calc(var(--base) * 1.25);
}
.fixed-toolbar + .editor-container > .editor-placeholder {
  top: calc(var(--base) * 1.25);
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./node_modules/@payloadcms/richtext-lexical/dist/field/features/toolbars/inline/Toolbar/index.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
html[data-theme=light] .inline-toolbar-popup {
  box-shadow: 0 0 30px 0 rgba(0, 2, 4, 0.12), 0 30px 25px -8px rgba(0, 2, 4, 0.1);
}

.inline-toolbar-popup {
  display: flex;
  align-items: center;
  background: var(--color-base-0);
  padding: 0 3.72px 0 6.25px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  border-radius: 6.25px;
  transition: opacity 0.2s;
  height: 37.5px;
  will-change: transform;
}
.inline-toolbar-popup .caret {
  z-index: 93;
  position: absolute;
  top: calc(100% - 16px);
  border: 12px solid transparent;
  pointer-events: none;
  border-top-color: var(--color-base-0);
}
.inline-toolbar-popup__group {
  display: flex;
  align-items: center;
  gap: 2px;
}
.inline-toolbar-popup__group .icon {
  min-width: 20px;
  height: 20px;
  color: var(--color-base-600);
}
.inline-toolbar-popup__group .divider {
  width: 1px;
  height: 15px;
  background-color: var(--color-base-100);
  margin: 0 6.25px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[11].use[5]!./node_modules/@payloadcms/richtext-lexical/dist/field/features/upload/component/index.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.lexical-upload {
  font-size: 13px;
  line-height: 25px;
  font-weight: normal;
  box-shadow: 0 2px 3px 0 rgba(0, 2, 4, 0.05), 0 10px 4px -8px rgba(0, 2, 4, 0.02);
  max-width: calc(var(--base) * 15);
  display: flex;
  align-items: center;
  background: var(--theme-input-bg);
  border: 1px solid var(--theme-elevation-100);
  position: relative;
  font-family: var(--font-body);
  margin: 0 0 1.5em;
}
.lexical-upload .btn {
  margin: 0;
}
.lexical-upload:hover {
  border: 1px solid var(--theme-elevation-150);
}
.lexical-upload[data-slate-node=element] {
  margin: calc(var(--base) * 0.625) 0;
}
.lexical-upload__card {
  box-shadow: 0 7px 14px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.lexical-upload__topRow {
  display: flex;
}
.lexical-upload__thumbnail {
  width: calc(var(--base) * 3.25);
  height: auto;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.lexical-upload__thumbnail img,
.lexical-upload__thumbnail svg {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: var(--theme-elevation-800);
}
.lexical-upload__topRowRightPanel {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: calc(var(--base) * 0.75);
  justify-content: space-between;
  max-width: calc(100% - calc(var(--base) * 3.25));
}
.lexical-upload__actions {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: calc(var(--base) * 0.5);
}
.lexical-upload__actions .lexical-upload__doc-drawer-toggler {
  pointer-events: all;
}
.lexical-upload__actions > *:not(:last-child) {
  margin-right: calc(var(--base) * 0.25);
}
.lexical-upload__removeButton {
  margin: 0;
}
.lexical-upload__removeButton line {
  stroke-width: 2px;
}
.lexical-upload__removeButton:disabled {
  color: var(--theme-elevation-300);
  pointer-events: none;
}
.lexical-upload__upload-drawer-toggler {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  line-height: inherit;
}
.lexical-upload__doc-drawer-toggler {
  text-decoration: underline;
}
.lexical-upload__doc-drawer-toggler > *, .lexical-upload__list-drawer-toggler > *, .lexical-upload__upload-drawer-toggler > * {
  margin: 0;
}
.lexical-upload__doc-drawer-toggler:disabled, .lexical-upload__list-drawer-toggler:disabled, .lexical-upload__upload-drawer-toggler:disabled {
  color: var(--theme-elevation-300);
  pointer-events: none;
}
.lexical-upload__collectionLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lexical-upload__bottomRow {
  padding: calc(var(--base) * 0.5);
  border-top: 1px solid var(--theme-elevation-100);
}
.lexical-upload h5 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.lexical-upload__wrap {
  padding: calc(var(--base) * 0.5) calc(var(--base) * 0.5) calc(var(--base) * 0.5) var(--base);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lexical-upload--selected {
  box-shadow: 0 0 0 2px var(--theme-success-500);
  outline: none;
}
@media (max-width: 768px) {
  .lexical-upload__topRowRightPanel {
    padding: calc(var(--base) * 0.75) calc(var(--base) * 0.5);
  }
}
